body{
   font-family: sans-serif;
   background-color: rgb(34, 11, 11);

}
img{
   width: 15%;
   height: 15%;
   border: 2px solid red; 
   margin-bottom: 20px;
}

h1{
   padding: 20px;
   text-align: center;
   color: red;
   text-shadow:15px 15px 15px    rgb(216, 175, 175);
}
p{
   margin: 0;
}

footer{

   text-align: center;
   color: red;
   font-size: 25px;
   font-weight: 500;
   background-color: rgb(32, 2, 2);
}
#encabezado{
   background: black;
}
#div-imagen{

   padding: 20px;
   display: flex; 
   justify-content: center;
}


.cajitas{
   width: 15px;
   height: 15px;
   background-color: brown;
}

#div-contenedor{
   background-color: rgb(32, 2, 2);
   padding: 20px;
}
#div-descripcion{
   color:red;
   background-color: black;
   text-align: center;
   padding: 10px;
}

#uno{
   margin:auto;
   margin-top: 10px;
   margin-bottom: 10px;

}
