*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1 {
    color:darkslategrey;

}






 
body {
   font-family: Arial, Helvetica, sans-serif;
}
 
 /* estilo del  header */
 header {
   background-color: #3c3ada;
   padding: 30px;
   text-align: center;
   font-size: 35px;
   color: white;
 }

 button{ 
        background-color:#3c3ada;
        color: white;
        border-color: white;
        
 }
 #pboton{
  text-align: center;
  margin: 20px 20px 20px 20px;
 }

 #resultado{
  text-align: center;
 }
 
 /* Create two columns/boxes that floats next to each other */
 nav {
   float: left;
   width: 20%;
   height: 1000px; 
   background: #6260ce;
   padding: 20px;
   color: white;
 }
 
 /* formato de lista dentro del menu */
 nav ul {
   /*list-style-type:armenian;*/
   padding: 100;
   margin: 10px;
   
   background-color: #a2a1d1;
 }

 nav ul li {
  color: white;
  
}
 

 img {

   border: solid;
   color: #f1f1f1;
   
   
 }

 article {
   float: left;
   padding: 20px;
   width: 80%;
   background-color: #f1f1f1;
   height: 1000px;
 }

 
 
 /* Clear floats after the columns */
 section::after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Style the footer */
 footer {
   background-color: #3c3ada;;
   
   text-align: center;
   
   color: white;
 }
 
 /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
 @media (max-width: 600px) {
   nav, article {
     width: 100%;
     height: auto;
   }
 }    